body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 230, 240);
}
.logo {
    float: left;
    /*background-color: #fff; /* Background color for the logo */
    color: #db1111; /* Text color for the logo */
    font-size: 30px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    padding: 0px 10px; /* Adjust padding as needed */
    margin-left: 10px; /* Adjust margin as needed */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  } 
  img {
    width: 200px;
    }

.horizontal-list{

    padding-left: 0px;
    list-style: none;
    text-align: center;
    font-size: 30px;

}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    
    padding: 30px;
}
.horizontal-list li a{
      color: black;
      text-decoration: none;
      
      transition: color 0.5s, border-bottom 4s ;
}
.horizontal-list li a:hover {
    color:lightgrey ;
    border-bottom: 2px solid white;
}

#title-height{
    font-weight: 400;
    font-size: 65px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -10px;
    color: black;
    text-align: center;
    font-family: fantasy;
    }
    #under-note{
    text-align:  center;
    padding-left: 400px;
    padding-right: 400px;
    font-size: 20px;
    line-height: 25px;
   
    color: grey;
    }
    #query-form{
            height: 470px;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 20px;
            box-shadow: 0px 8px 16px -2px rgba(102, 64, 255, 0.24);
    z-index: 99;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        label {
            font-weight: 400;
            font-family: revert;
            color: grey;
            font-size: 25px;
        }
        input[type="username"]

        {
            width: 30%;
            height: 40px;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
          input[type="email"]

        {
            width: 30%;
            height: 40px;
            padding-left: 15px;
            padding-right: 5px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
         input[type="number"]

        {
            width: 30%;
            height: 40px;
            padding-left: 15px;
            padding-right: 5px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
        input[type="text"]

        {
            width: 30%;
            height: 40px;
            padding-left: 15px;
            padding-right: 5px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
        textarea{
             width: 95%;
            height: 40px;
            padding-left: 30px;
            padding-right: 5px;
            margin-top: 25px;
            margin-bottom: 30px;
        }

        button {
            background-color: rgb(226, 43, 43);
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 0.9rem;
            cursor: pointer;
        }
        #bottom-title{
            font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: -10px;
    padding-left: 120px;
    color: black;
    text-align: center;
    font-family: fantasy;
    }
    #under-message{
    text-align: justify center;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 20px;
    line-height: 25px;
   
    color: grey;
       }
       #button-style{
        padding-left: 350px;
       }
       #click-herebtn{
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid;
        border-radius: 50%;
        font-size: 15px;
       }
       #bottom-div{
        max-width: 100%;
        height: 20px;
        background-color: rgb(226, 43, 43);
        margin-top: 250px;
       }